/* 组件库的根层，负责提供所有组件共享的基础样式和设计规范。用 @layer 是为了方便用户覆盖 */
@layer uikit {
  /* 组件的基础样式。应该足够通用，这个最基本的 Button 样式 */
  .Button {
    /* 可业务定制的尺寸、颜色， 应该抽象成 CSS 变量 */

    /* 只用default， big，small等的UI变体，应该自动自己生长出来 */
    --Button-w: var(--size-8);
    --Button-h: var(--size-4);
    --Button-padding-x: var(--space-4);
    --Button-padding-y: var(--space-1);
    --Button-content-gap: var(--space-2);
    --Button-bg: var(--dye-brand);
    --Button-fg: --foreground-on(var(--Button-bg));
    --Button-border-color: var(--color-border);
    --Button-disable-opacity: var(--opacity-muted);

    display: inline-flex;
    color: var(--Button-fg);
    align-items: center;
    gap: var(--Button-content-gap);
    min-width: var(--Button-w);
    min-height: var(--Button-h);
    padding: var(--Button-padding-y) var(--Button-padding-x);
    border: 0.1em solid var(--Button-border-color);
    border-radius: 999px;
    font-weight: 700;
    cursor: pointer;
    transition: 160ms;
    background: var(--Button-bg);

    &:disabled {
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: 0.1em solid --dim(var(--Button-border-color), 32);
      outline-offset: 3px;
    }

    /* variant */
    &.solid {
      /* 就是默认的variant，不需要任何额外规则 */
    }

    /* variant */
    &.ghost {
      color: var(--color-text-strong);
      --Button-bg: --color-mix(var(--dye-brand), 3, transparent, 2);
      font-weight: initial;
      border-color: var(--color-border);
      &:hover:not(:disabled) {
        background: color-mix(in oklab, var(--color-surface-soft) 92%, transparent);
      }
    }

    /* status */
    &.invalid {
      opacity: var(--Button-disable-opacity);
    }
  }
}
