/* 组件库的根层，负责提供所有组件共享的基础样式和设计规范。用 @layer 是为了方便用户覆盖 */
@layer uikit {
  /* 组件的基础样式。应该足够通用，这个最基本的 Button 样式 */
  .Button {
    /* 可业务定制的尺寸、颜色， 应该抽象成 CSS 变量 */

    /* 只用default， big，small应该自动自己生长出来 */
    --Button-w: --size(8);
    --Button-h: --size(4);
    --Button-padding-x: --space(4);
    --Button-padding-y: --space(1);
    --Button-content-gap: --space(2);
    --Button-bg: var(--color-brand);
    --Button-fg: --foreground-on(var(--Button-bg));
    --Button-border-color: var(--color-border);
    --Button-disable-opacity: 0.52;

    display: inline-flex;
    color: var(--Button-fg);
    align-items: center;
    gap: var(--Button-content-gap);
    min-width: var(--Button-w);
    min-height: var(--Button-h);
    padding: var(--Button-padding-y) var(--Button-padding-x);
    border: 0.1em solid var(--Button-border-color);
    border-radius: 999px;
    font-weight: 700;
    cursor: pointer;
    transition: 160ms;
    background: var(--Button-bg);

    &:disabled {
      cursor: not-allowed;
      opacity: var(--Button-disable-opacity);
    }
    &:focus-visible {
      outline: 0.1em solid --color-mix(var(--Button-border-color), 32, transparent, 68);
      outline-offset: 3px;
    }

    &.variant-solid {
      /* 就是默认的variant，不需要任何额外规则 */
      --Button-bg: var(--color-brand);
      --Button-fg: --foreground-on(var(--Button-bg));
    }

    &.variant-ghost {
      color: var(--color-text-strong);
      background: color-mix(in oklab, var(--color-surface) 88%, transparent);
      border-color: var(--color-border);
      &:hover:not(:disabled) {
        background: color-mix(in oklab, var(--color-surface-soft) 92%, transparent);
      }
    }
  }
}
